// Global Variables

////////////////
//// Layout ////
////////////////

$standard-spacing: 15px
$standard-li-height: 30px

$sidebar-width: 180px
$userbar-height: 40px

////////////////
//// Colors ////
////////////////

// background
$standard-bg-color: rgb(255, 255, 255)
$grey: rgb(170, 170, 170)
$black: rgb(0, 0, 0)
$green: rgb(140, 220, 10)
$red: rgb(210, 80, 50)

// line and text
$light-grey-line: rgb(170, 170, 160)
$lighter-grey-line: rgb(190, 190, 190)
$lightest-grey-line: rgb(220, 220, 220)

///////////////
//// Fonts ////
///////////////

.inline-block
	display: inline-block

.width100
	width: 100%

.add-btn
	background: $green

.delete-btn
	background: $red

.hidden
	display: none !important

