/**
 *  GLOBALS
 */
     
/*--------------------------------------------------
 *  LAYOUT 
 *------------------------------------------------*/

$standard-spacing: 25px
$standard-li-height: 30px

$side-bar-width: 180px
$user-bar-height: 40px

/*--------------------------------------------------
 *  COLORS 
 *------------------------------------------------*/

/* background */
$standard-bg-color: rgb(255, 255, 255)
$lighter-grey: rgb(237, 236, 236)
$light-grey: rgb(200, 200, 200)
$grey: rgb(170, 170, 170)
$white: rgb(255,255,255)
$black: rgb(0, 0, 0)
$green: rgb(140, 220, 10)
$red: rgb(210, 80, 50)

/* line and text */
$light-grey-line: rgb(170, 170, 160)
$lighter-grey-line: rgb(190, 190, 190)
$lightest-grey-line: rgb(220, 220, 220)

/*--------------------------------------------------
 *  FONTS 
 *------------------------------------------------*/
