/**
 *  GENRAL CLASSES AND ELEMENTS
 */

/*---------------------------------------------------
 *  GENERAL LAYOUT
 *-------------------------------------------------*/

body
	background-color: $white
	font-family: Myriad Pro
	font-size: 15px

button,
input
	border-radius: 0
	padding: .2em .3em .1em
	border-width: 1px
	border-color: $light-grey-line
	border-style: solid;

input[type="text"]
	line-height: 1.4em;
	+box-shadow($input-shadow)
	transition: border .3s

	&:hover,
	&:focus
		border-color: $black

#app
	padding: $standard-spacing
	width: 100%

header
	position: fixed
	z-index: map-get($z-index, 'header')
	width: 100%
	left: 0
	top: 0
	background: $standard-bg-color
	line-height: $user-bar-height
	padding-left: ($side-bar-width + $standard-spacing)
	padding-right: $standard-spacing
	padding-top: ($user-bar-height + $standard-spacing)

main
	position: relative
	margin-top: calc(125px + 2.2em) // header height + one line
	margin-left: $side-bar-width


aside
	width: $side-bar-width


/*---------------------------------------------------
 *  MISC
 *-------------------------------------------------*/

.inline-block
	display: inline-block

.width100
	width: 100%

.delete-btn
	background: $red

.hidden
	display: none !important

.row
	line-height: 4em
	display: inline-block
	clear:both
	width: 100%

// map icons to their respective elements
@each $name, $ico in $icons
	.ico-#{$name}:before
		content: $ico
	
