/**
 *  GENRAL CLASSES AND ELEMENTS
 */

/*---------------------------------------------------
 *  SINGLE ELEMENTS
 *-------------------------------------------------*/

*
	outline: none

b, strong
	font-weight: 700

em
	font-style: normal

body
	background-color: $white
	font-family: PT Sans, Myriad Pro
	font-size: 15px

h1, .h1,
h2, .h2,
h3,
h4,
.font-size-m
	margin-top: 0
	line-height: 1em

h1, .h1
	font-size: map-get($font-sizes, 'h1')

h2, .h2
	font-size: map-get($font-sizes, 'h2')

h3, .h3
	font-size: map-get($font-sizes, 'h3')

h4, .h4
	font-size: map-get($font-sizes, 'h4')

.font-size-m
	font-size: map-get($font-sizes, 'm')
	
table
	line-height: 2.2em
	width: 100%

button,
input
	height: 1.8em

button
	border-radius: .15em
	border-width: 1px
	border-color: $light-grey-line
	padding: .1em .3em
	border-style: solid
	background-color: $lightest-grey
	text-shadow: 0px 1px 0px $white
	box-shadow: 0 1px 3px -3px $black
	transition: all .3s

input[type="text"]
	+input()
	padding: .1em 0

/*---------------------------------------------------
 *  MAIN LAYOUT
 *-------------------------------------------------*/

#app
	padding: 0 10% $standard-spacing
	width: 100%

header
	line-height: map-get($font-sizes, 'h1')
	font-size: map-get($font-sizes, 'h1')
	position: relative
	padding: $small-spacing 0 $small-spacing $nav-width
	display: inline-block
	width: 100%

	&:before
		position: relative
		content: "\00a0\00a0"
		display: inline-block
		height: 1.8em
		float: right

main
	position: relative

footer
	position: relative
	line-height: $footer-height
	color: $grey
	text-align: center
	display: block
	float: left
	width: 100%
	font-size: .9em
	padding-bottom: 3em


/*---------------------------------------------------
 *  GRID COLS
 *-------------------------------------------------*/

div[class*=grid-col-]
	float: left
	display: block

	& + &
		margin-left: $standard-spacing

$grid-fineness: 12
$single-col: (100% / $grid-fineness)

/** 
 * col-6 is six times the smallest unit of the grid (i.e. $grid-fineness), col-7 is seven times that unit
 * e.g. with {$grid-fineness: 12}:
 * .col-6
 * 		width: calc( (100% / 12) * 6 - 25px * (2 - 1) / 2)
 */

.grid-col-12 
	width: 100%

@for $i from 1 to $grid-fineness
	.grid-col-#{$i}
		$grid-part: $grid-fineness / $i // the space of the grid, which is occupied by that column (in percent)
		width: calc( #{$single-col} * #{$i} - #{$standard-spacing} * (#{$grid-part} - 1) / #{$grid-part})


/*---------------------------------------------------
 *  MISC CLASSES
 *-------------------------------------------------*/

.inline-block
	display: inline-block

.width100
	width: 100%

.delete-btn
	background: $red
	text-shadow: none
	color: $white
	border-color: $red

.hidden
	display: none !important

.floatright
	float: right

.textright
	text-align: right

.textleft
	text-align: left

.clearboth
	clear: both

.row
	display: inline-block
	clear:both
	width: 100%

	& + & // add margins to following rows
        margin-top: $standard-spacing