/**
 * Maps 
 * (not possible as SASS-syntax at the time so I use SCSS)
 */

$z-index: (
	right-in-ur-face: 9999,
	bottomless-pit: -9999,
	standard: 1,

	list-head: 10,
	header: 50,
	nav: 50,
	dialog: 100,
	popup-box: 110,
	notifier: 120
);


$icons: (
	add: "\f067",
	next: "\f105",
	prev: "\f104",
	trash: "\f1f8",
	list: "\f0c9",
	angle-right: "\f105",
	angle-down: "\f107",
	go-to: "\f064",
	list-view: "\f00b",
	arr-right: "\f178",
	tile-view: "\f00a",
	search: "\f002",
	close: "\f00d",
	save: "\f0c7",
	print: "\f02f",
	product-cd: "",
	product-lp: "",
	product-dvd: ""

);

// map icons to their respective elements
@each $name, $ico in $icons {
	.ico-#{$name}:before {
		font: normal normal normal .95em FontAwesome;
		content: $ico;
	}
}


$font-sizes: (
	xs: .7rem,
	s: .8rem,
	m: 1rem,
	standard: 1rem,
	l: 3rem,
	xl: 4rem,
	h1: 1.8rem,
	h2: 1.5rem,
	h3: 1.3rem,
	h4: 1.1rem
);