/**
 * Maps 
 * (not possible as SASS-syntax at the time so I use SCSS)
 */

$z-index: (
	right-in-ur-face: 9999,
	bottomless-pit: -9999,
	standard: 1,

	header: 10,
	nav: 10,
	dialog: 100,
	notifyer: 110
);

$icons: (
	add: "+",
	next: ">",
	prev: "<",
	trash: "",
	list: "",
	angle-right: "›"
);

$font-sizes: (
	s: .5em,
	m: 1em,
	l: 3em,
	xl: 4em,
	h1: 3em,
	h2: 1.5em,
	h3: 1.3em,
	h4: 1.1em
);