=label-button()
	font-size: .8em
	margin: 0 $line-padding $line-padding 0
	color: $darkest-grey
	line-height: 1em
	
	&:hover,
	&:focus
		color: $black
		border-color: $grey

=input-style()
	border-radius: 0
	border-width: 1px
	border-color: $light-grey-line
	transition: all .3s
	border-style: none none solid none
	color: $dark-grey
	box-shadow: none

	&:hover,
	&:focus
		color: $black
		border-color: $black