/**
 * The button for adding a data set
 */
     
.add-btn
	background: $green
	border-color: $green
	transition: all .3s 
	position: relative
	text-shadow: none
	font-weight: 600
	float: left

	&:before
		position: absolute

	&--big
		display: block
		font-size: 2.4em
		margin-bottom: 1rem

	&--main,
	&--medium
		padding-right: .5em
		padding-left: 1.5em
		
		&:before
			left: .3em
			top: .3em;

	&--main
		$fs: map-get($font-sizes, 'h3')
		font-size: $fs
		line-height: $fs
		margin-bottom: $fs

		&:before
			line-height: inherit;

	&--medium
		$fs: map-get($font-sizes, 'h4')
		font-size: $fs
		line-height: $fs

		&:before
			font-size: ($fs + .3em)

	&--small
		padding-left: 1.1em

		&:before
			top: .35em
			left: .3em
			color: black
