/**
 * The button to add a data set
 */
     
.add-btn
	background: $green
	font-weight: bold

	&--big	
		display: block
		border: none
		font-size: 2em
		// padding-left: calc(1em + .2em)
		margin-bottom: 2rem

		> em
			background: rgba(255,255,255, .5)
			position: absolute
			left: 0
			width: 1em