/**
 * The list to show the browse contents
 */
     
.browse-list
	width: 100%
	display: block
	float: left
	padding: 0
	margin: 0
	list-style-type: none	
	position: relative

	> li
		display: block
		float: left
		width: 100%

		> div
			float: left
			text-overflow: ellipsis
			overflow: hidden
			white-space: nowrap

	&__head
		z-index: map-get($z-index, 'list-head')
		background: $standard-bg-color
		border-bottom: 1px solid $lighter-grey-line

		&.fixed
			box-shadow: 0 9px 10px -10px $grey

	&__actions
		display: none

	&__sorters
		font-weight: bold

	&__body
		//padding-top: 56px // prevent head from overlapping body
		> li
			border-bottom: 1px solid $lightest-grey-line
