/**
 * The button for adding a data set
 */
     
.add-btn,
.save-btn,
.delete-btn,
.close-btn
	+transition(all .3s)
	position: relative
	text-shadow: none
	font-size: inherit
	line-height: inherit
	box-shadow: 0 0 0 -.5em $darkest-grey inset

	&:before
		position: relative
		line-height: inherit
		font-size: inherit

	&:hover
		box-shadow: 0 0 1em -.5em $darkest-grey inset

	&--main,
	&--big
		padding: 0
		width: 1.8em

		&:before
			top: .01em

	&--medium
		padding: 0 .4em
		font-weight: 600
		
		&:before
			width: 1em
			margin-right: .4em

.add-btn,
.save-btn
	background: $green
	border-color: $green

	&:hover
		background: lighten($green, 5%)
		border-color: lighten($green, 2%)

.add-btn
	&--main
		margin: 0 .8em
		
	&--main
		float: left

	&--small
		padding: 0
		width: 1.8em

		&:before
			color: black

.save-btn
	&--big,
	&--medium
		float: right

.delete-btn
	background: $red
	color: $white
	border-color: $red

	&:before
		margin-right: .5em

	&:hover
		background: lighten($red, 8%)
		border-color: lighten($red, 2%)

.close-btn
	background: transparent
	border-color: $lighter-grey

	&--big
		margin-right: .8em
		float: right
