.input-field
	position: relative
	$s: map-get($font-sizes, 's')
	padding: calc(#{$s} + 3px) 0 0

	&__input
		+input()
		font-size: inherit
		width: 100%
		max-width: 100%
		line-height: 1.4em
		display: block
		white-space: nowrap
		overflow-x: hidden
		overflow-y: auto

		> input
			border: none

	&__placeholder
		left: 0
		top: $s
		position: absolute
		color: inherit
		transition: all .3s

	&__tag
		background: $lighter-grey
		border: 1px solid $light-grey-line
		padding: .1em .1em .1em .2em
		font-size: .9em
		display: inline-block
		margin-bottom: .2rem

		> i
			padding: 0 .2em
			margin-left: .1em
			color: $grey
			transition: color .3s
			cursor: pointer

			&:before
				position: relative

			&:hover
				color: $red
				
		& + input,
		& + &
			margin-left: $small-spacing

	&.empty &__placeholder
		color: $grey
		font-size: inherit
		line-height: 1.4em

	&:not(.empty) &__placeholder,
	&__input:focus ~ &__placeholder,
	&__input:active ~ &__placeholder
		font-size: $s
		top: 0
		line-height: $s
		color: $black

	&.multi-line &__input
		white-space: initial