.input-field
	position: relative
	$s: map-get($font-sizes, 's')
	padding: calc(#{$s} + 3px) 0 .1em

	&__placeholder
		left: 0
		top: $s
		position: absolute
		color: $grey
		transition: all .3s

	&__input
		+input-style()
		font-size: inherit
		width: 100%
		max-width: 100%
		line-height: inherit
		height: inherit

		> input
			border: none

	&__tag
		background: $lighter-grey
		border: 1px solid $light-grey-line
		padding: .1em .1em .1em .2em
		font-size: .9em

		> i
			padding: 0 .2em
			margin-left: .1em
			color: $grey
			transition: color .3s
			cursor: pointer

			&:before
				position: relative

			&:hover
				color: $red
				

		& ~ input,
		& ~ &
			margin-left: $small-spacing

	&:not(.empty) &__input
		color: $black

	&.empty &__placeholder
		font-size: inherit
		line-height: inherit

	&:not(.empty) &__placeholder,
	&__input:focus + &__placeholder
		font-size: $s
		top: 0
		line-height: $s

	&:not(.empty) &__placeholder
		color: $dark-grey

	&__input:hover + &__placeholder,
	&__input:focus + &__placeholder
		color: $black