.nav
	> a
		display: block
		text-decoration: none
		color: black
		transition: all .3s
		line-height: 2.4em
		position: relative

		&::before
			content: map-get($icons, 'angle-right')
			$fs: map-get($font-sizes, 'h2')
			font-size: $fs
			line-height: ($fs + .15em)
			display: block
			position: absolute
			top: 0
			left: -1.5em
			margin-top: -.05em
			opacity: 0
			transition: all .3s

		&.js-selected
			font-weight: bold
			margin-left: 1em
			//$fs: map-get($font-sizes, 'h3')
			//font-size: $fs
			//line-height: ($fs + 1em)

			&:before
				opacity: 1
				left: -.7em
			

