.nav
	position: absolute
	z-index: map-get($z-index, 'nav')
	width: $nav-width
	left: 0
	background: $white
	transition: all .3s
	border: 1px solid transparent
	border-radius: .15em

	> a
		text-decoration: none
		color: $black
		transition: height .3s, opacity .3s, padding .3s
		position: relative
		display: block
		height: 0
		opacity: 0
		font-size: 1rem

		&:hover
			border-left: 5px solid $green
			margin-left: -5px

		&.js-selected
			opacity: 1
			height: 1.8em
			line-height: 1.8em
			font-size: 1.8rem
			font-weight: bold

	&:hover,
	&:focus
		box-shadow: $small-shadow
		border-color: $lighter-grey-line
		padding-bottom: $small-spacing

		> a
			padding: .4em $small-spacing 0
			height: 2.4em
			opacity: 1