.stats-widget

	&__head
		line-height: 1em
		display: inline-block
		width: 100%

	&__body
		background-color: $lightest-grey
		padding: $standard-spacing
		margin: -$standard-spacing
		border-top: 1px solid $lighter-grey-line

	.group
		&__description
			float: right
			text-align: right

		&__title
			font-size: map-get($font-sizes, 'h2')
			font-weight: 600
			margin-bottom: .8em

		&__pic
			margin-right: $standard-spacing
			margin-bottom: $standard-spacing

	&--product__table

		button
			+label-button()

		> tbody:nth-child(2n)
				background: $lighter-grey

		.type
			color: $grey

		.type,
		.label
			text-align: left

		.sold,
		.stocked,
		.sum
			text-align: right

		.total
			font-weight: 600
			border-top: 1px solid $lighter-grey

.stats-table
	line-height: 2em

	th
		text-align: left

	td
		&:first-child
			padding-right: 1em

		&:last-child
			text-align: right

.stats-graph
	height: 250px
	//box-shadow: 0 0 10px -2px $grey inset
	//background: linear-gradient(to bottom, rgb(255,255,255) 44%,rgb(117,189,209) 87%,rgb(73,165,191) 100%)

	.home &
		float: left
