.dialog
	&__layer
		position: fixed
		background: transparentize($white, .2)
		top: 0
		left: $side-bar-width
		width: calc(100% - #{$side-bar-width})
		height: 100%
		z-index: map-get($z-index, 'dialog')
		display: table

	&__center
		display: table-cell
		vertical-align: middle
		text-align: center

	&__window
		display: inline-block
		width: 790px
		background: $white
		box-shadow: $big-shadow
		$thick-pad: $standard-spacing + $small-spacing
		padding: $thick-pad $thick-pad $standard-spacing
		border: 1px solid $lightest-grey-line
		text-align: left
		
	&__header
		display: inline-block
		text-align: left
		width: 100%

	&__x
		float: right
		cursor: pointer
