.dialog
	&__layer
		position: fixed
		background: transparentize($white, .1)
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: map-get($z-index, 'dialog')
		display: block
		overflow: auto

	&__scroll
		display: table
		width: 100%
		height: 100%

	&__center
		display: table-cell
		vertical-align: middle
		text-align: center

	&__window
		display: inline-block
		width: 870px
		text-align: left
		padding: $standard-spacing + $small-spacing

	&__header
		display: inline-block
		text-align: left
		width: 100%
		font-weight: 600
		font-size: map-get($font-sizes, 'h1')

	&__x
		float: right
		cursor: pointer
	
	&__children
		background: $white